body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    height: 100vh;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #fafafa 90%, rgba(68, 68, 105, 0.5))
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a img {
    display: block;
    width: 340px;
    height: 205px;
    background-size: cover;
}

.is-hidden {
    display: none;
}
a:hover {
    transform: scale(0.95);
}

.search-form {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #404BBF;
    box-shadow: 0px 1px 6px 0px rgba(64,75,191,1);
}
.gallery {
    padding-top: 50px;
}
input[name="searchQuery"] {
    box-sizing: border-box;
    width: 300px;
    height: 30px;
    padding: 0;
    padding-left: 10px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    background-color: #fafafa;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;

}
button[type="submit"] {
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    height: 30px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    background-color: #fafafa;

}
button[type="submit"]:hover {
 background-color: #cac9d8;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.photo-card {
     max-width: 340px;   
}
.info {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: inherit;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.info-item {
    text-align: center;
}

